<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes | Berners-Lee</title>
</head>
<body>
    <h1>Tim Berners-lee</h1>
    <img src="/img/berners-lee.jpg" alt="Berners-Lee">
    <p>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
    <p>Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>
    <h2>Índice</h2>
    <ol>
       <li><a href="#biografia">Biografía</a></li> 
       <li><a href="#desarrollo">Desarrollo de su carrera</a></li>
       <li><a href="#proyecto">Proyectos actuales</a></li>
       <li><a href="#dominio">Controversia sobre nombres de dominio</a></li>
       <li><a href="#publicaciones">Publicaciones</a></li>
       <li><a href="#reco">Reconocimientos</a></li>
       <li><a href="#vease">Véase también</a></li>
       <li><a href="#referencias">Referencias</a></li>
       <li><a href="#enlaces">Enlaces externos</a></li>
    </ol>
	<h2 id="biografia">Biografía</h2>
    <p>Tim Berners-Lee en 2005.</p>
    <p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de junio de 1955. Sus padres eran Conway Berners-Lee y Mary Lee Woods. Sus padres eran matemáticos británicos y formaron parte del equipo que construyó el Manchester Mark I[cita requerida]. Por ello, la orientación profesional le venía de familia, ya que sus padres se habían conocido en el proyecto de desarrollo del Ferranti Mark I, el primer ordenador comercial con programa almacenado desarrollado por la empresa Ferranti en marzo de 1951. Su padre, Conway Berners-Lee, y su madre, Mary Lee Woods, también fueron especialistas en computación; trabajaron con el equipo que construyó el Ferranti Mark.</p>
    <h2 id="desarrollo">Desarrollo de su carrera</h2>
    <p>Berners-Lee usó esta NeXTcube en el CERN, y fue el primer servidor web del mundo.
    Berners-Lee trabajó en el CERN desde junio hasta diciembre de 1980. Durante ese tiempo, propuso un proyecto basado en el hipertexto para facilitar la forma de compartir y la puesta al día de la información entre investigadores. En este periodo también construyó un programa llamado ENQUIRE que no llegó a ver la luz.</p>
    <p>Después de dejar el CERN, en 1980, se fue a trabajar a la empresa de John Poole Image Computer Systems Ltd., pero regresó al CERN otra vez en 1984.</p>
    <p>En 1989, el CERN era el nodo de Internet más grande de Europa y Berners-Lee vio la oportunidad de unir Internet y el hipertexto (HTTP y HTML), de lo que surgiría la World Wide Web. Desarrolló su primera propuesta de la Web el 12 de marzo de 1989, pero no tuvo mucho eco, por lo que en 1990 y con la ayuda de Robert Cailliau, hicieron una revisión que fue aceptada por su gerente, Mike Sendall. Usó ideas similares a las que había usado en el sistema Enquire, para crear la World Wide Web, para esto diseñó y construyó el primer navegador (llamado WorldWideWeb y desarrollado con NEXTSTEP) y el primer servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).</p>
    <h2 id="proyecto">Proyectos actuales</h2>
    <p>Primer plano de Berner-Lee, en enero de 2010.</p>
    <p>Tim Berners-Lee fue crítico con las expectativas generadas alrededor de la Web 2.0 cuando se argumentó sobre esta plataforma que «si la web 1.0 conectaba ordenadores, la web 2.0 conecta personas». Tim opina que no se trata de una nueva generación de web sino una forma diferente y, eso si, mucho más capaz de desplegar aplicaciones sobre la misma plataforma de la web inventado por él. En este sentido, herramientas como las wikipedias o los blogs son unas herramientas que fomentan y potencian la participación y colaboración, pero, de hecho, no hay ningún componente tecnológico base que no existiera desde bastantes años antes.</p>
    <h2 id="dominio">Controversia sobre nombres de dominio</h2>
    <p>En el pasado, Berners-Lee se opuso a la creación de nombres de dominio nuevos como el '.mobi'. De hecho, cuando el '.mobi ' nació, él era uno de sus detractores. Él argumentó que todo el mundo debería acceder a las mismas web, independientemente de si usase un ordenador o un móvil. Básicamente lo que no le gustaba a Berners-Lee del '.mobi' es que este sería para que se accediese únicamente con los móviles, ya que él desarrolló la web como una forma de comunicación universal y no veía necesario el desarrollo del '.mobi' únicamente para el uso en móviles.</p>
    <p>También hubo una pelea entre diferentes gobiernos y el ICANN sobre la propiedad de los nombres de los dominios, sobre todo con el ".com". Berners-Lee apoya que nadie tenga los nombres de los dominios, sino que estos sean un recurso público.[cita requerida] Berners-Lee también dejó claro que el nombre o la propiedad de los dominios no era el aspecto más importante en el proceso de estandarización, sino que eran más importantes los estándares de vídeo, codificación, estándares abiertos de comunicación de datos, subida de datos científicos y clínicos o la propagación de información entre países.</p>
    <h2 id="publicaciones">Publicaciones</h2>
    <p>Berners-Lee ha publicado artículos científicos en las revistas más prestigiosas como Nature o Scientific American. Destacan dos libros:</p>
    <ul>
        <li>Berners-Lee, Tim; Mark Fischetti (1999). Weaving the Web: The Original Design and Ultimate Destiny of the World Wide Web by its inventor. Britain: Orion Business. ISBN 0-7528-2090-7.</li>
        <li>Berners-Lee, Tim; Wendy Hall, James A. Hendler (2006). A Framework for Web Science. United States of America: Now Publishers. ISBN 1-933019-33-6.</li>
    </ul>
    <h2 id="reco">Reconocimientos</h2>
    <ul>
        <li>Una sala de conferencias en el campus central del AOL lleva su nombre.</li>
        <li>La Universidad de Southampton fue la primera en reconocer su contribución para desarrollar la World Wide Web con un grado honoris causa en 1996. También es un distinguido miembro de la British Computer Society, miembro honorífico del Instituto de Ingenieros Eléctricos de Estados Unidos y de la Academia Estadounidense de las Artes y las Ciencias.</li>
        <li>En 1997 fue hecho oficial de la Orden del Imperio Británico, es miembro de la Royal Society desde 2001 y recibió un premio japonés en 2002.</li>
    </ul>
    <h2 id="vease">Véase también</h2>
    <ul type="square">
        <li>HTML</li>
        <li>World Wide Web</li>
        <li>Accesibilidad web</li>
        <li>Neutralidad de red</li>
        <li>Web semántica [su proyecto actual]</li>
        <li>Ted Nelson</li>
    </ul>
    <h2 id="referencias">Referencias</h2>
    <ol>
        <li> Addams Reitwiesner, William. «Ancestry of Tim Berners-Lee» (html). Wargs (en inglés). Archivado desde el original el 1 de julio de 2007. Consultado el 15 de marzo de 2019.</li>
        <li>Abbate, Janet (12 de septiembre de 2001). «Mary Lee Berners-Lee, an oral history conducted in 2001 by Janet Abbate, IEEE History Center, Hoboken, NJ, USA.» (html). Engineering and Technology History Wiki (en inglés). Archivado desde el original el 3 de abril de 2015. Consultado el 15 de marzo de 2019.</li>
        <li>Lean, Tom (19 de enero de 2018). «Mary Lee Berners-Lee: the joy of programming and equal pay» (html). British Library Blog (en inglés). Archivado desde el original el 24 de enero de 2018. Consultado el 15 de marzo de 2019. «Subsequently she joined the team working on the Ferranti Mark 1, the world’s first general purpose electronic computer to be commercially available - the first machine built to be sold to customers not just an experimental electronic brain developed by scientists.»</li>
        <li>«Sir Timothy Berners-Lee OM, KBE, FRS, FREng, FRSA - Longer Biography» (html). World Wide Web Consortium (en inglés). Archivado desde el original el 6 de marzo de 2019. Consultado el 15 de marzo de 2019. «Tim Berners-Lee graduated from the Queen's College at Oxford University, England, 1976. Whilst there he built his first computer with a soldering iron, TTL gates, an M6800 processor and an old television.»</li>
        <li>«Tim Berners-Lee - the WWW inventor» (html). Webdiy (en inglés). Archivado desde el original el 1 de septiembre de 2018. Consultado el 15 de marzo de 2019. «After graduation, Berners-Lee worked as an engineer at the telecommunications company Plessey in Poole (Dorset). In 1978, he joined D.G. Nash in Ferndown (Dorset), where he helped create type-setting software for printers.»</li>
    </ol>
    <h2 id="enlaces">Enlaces externos</h2>
    <ul type="circle">
        <li>Esta obra contiene una traducción parcial (Sección «Biografía») derivada de «Tim Berners-Lee» de Wikipedia en catalán, concretamente de esta versión del 29 de enero de 2019, publicada por sus editores bajo la Licencia de documentación libre de GNU y la Licencia Creative Commons Atribución-CompartirIgual 3.0 Unported.</li>
        <li>Wikiquote alberga frases célebres de o sobre Tim Berners-Lee.</li>
        <li>Wikimedia Commons alberga una galería multimedia sobre Tim Berners-Lee.</li>
        <li>Página personal en el consorcio W3C(en inglés)</li>
    </ul>

    <ul type="none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>
</body>
</html>